{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center justify-center p-6">
		<h1 class="mb-8 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
			Ajouter une recette
		</h1>

		{# Affichage des messages flash #}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="w-full max-w-lg mb-4 p-4 text-sm text-green-800 bg-green-100 rounded-lg dark:bg-green-900 dark:text-green-300">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 p-6">
			{{ include('recipe/_form.html.twig', {'button_label': 'Créer'}) }}

			<div class="mt-6 flex flex-col space-y-4">
				<a href="{{ path('app_recipe_index') }}">
					<button type="button" class="w-full text-gray-900 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-800 focus:outline-none dark:focus:ring-gray-600">
						Retour à la liste
					</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
